.react-bootstrap-table {
    height: 400px;
    overflow: auto;
}

.file-button {
    input {
        width: 69%;
        margin-right: 1%;
        display: inline-block;
    }

    button {
        position: absolute;
        margin-right: 1%;
        width: 29%;
    }
}

.page-margin {
    margin: 1%;
}

.gear-view {
    .nav {
        margin-bottom: 1%
    }

    .react-bootstrap-table {
        overflow-wrap: break-word;

        margin-top: 1%;
        height: 100%;
    }

    .btn-action-cell {
        white-space: nowrap;

        .left-btn {
            width: 48%;
            margin-right: 2%;
        }

        .right-btn {
            width: 48%;
            margin-left: 2%;
        }
    }
}

.custom-search-field {
    margin-top: 1%;
    margin-right: 70%;
}

.member-view {
    .table {
        margin-top: 2%;
    }

    .alert {
        margin-top: 2%;
    }

    .file-button {
        margin-top: 2%;
    }

    .submit-button {
        margin-top: 2%;
        width: 50%;
    }
}


body {
    padding-top: 70px;
}